# BUSINESS PROBLEM: Positional Differences

---

Two comma delimited files are provided, representing asset positions for two consecutive days
    One for Day1 asset positions
    Another for Day2 asset positions
    There has been buying and selling of assets activity between D1 and D2
    
Each file contains the following data:
    FILEDAY,ACCT,ASSET,UNITS
        FILEDAY is the day when asset positions file has been generated
        ACCT is a unique account identifier
        ASSET is a unique asset identifier
        UNITS is how many of each asset are owned by the account

MISSION:Determine which accounts had positional changes from day1 to day2: Which accounts bought or sold some or all of their current assets or bought brand new assets
        
NOTE: Resulting accounts and ALL of their Day2 data will be loaded into another database to update current activity

----

In [8]:
import pandas as pd

---

In [17]:
file1 = pd.read_csv('TEST_FILE_D1.csv',delimiter=',')
file1

   FILEDAY  ACCT ASSET  UNITS
0        1    11     A      1
1        1    11     B      2
2        1    11     C      3
3        1    22     A      1
4        1    22     B      2
5        1    22     C      3
6        1    22     D      4
7        1    33     A      1

In [18]:
file2 = pd.read_csv('TEST_FILE_D2.csv',delimiter=',')
file2

   FILEDAY  ACCT ASSET  UNITS
0        2    11     A      1
1        2    11     B      2
2        2    11     C      3
3        2    22     A      2
4        2    22     B      2
5        2    22     C      3
6        2    22     D      4
7        2    33     A      4

---

In [12]:
positionsD1 = []
for x in range(len(file1)):
    positionsD1.append([x for x in file1.ix[x][1:4]])
positionsD1

[[11, 'A', 1],
 [11, 'B', 2],
 [11, 'C', 3],
 [22, 'A', 1],
 [22, 'B', 2],
 [22, 'C', 3],
 [22, 'D', 4],
 [33, 'A', 1]]

In [13]:
positionsD2 = []
for x in range(len(file2)):
    positionsD2.append([x for x in file2.ix[x][1:4]])
positionsD1

[[11, 'A', 1],
 [11, 'B', 2],
 [11, 'C', 3],
 [22, 'A', 1],
 [22, 'B', 2],
 [22, 'C', 3],
 [22, 'D', 4],
 [33, 'A', 1]]

In [24]:
differential_accounts = []

for x in positionsD1:
    if x not in positionsD2:
        result_D1 = (['D1 different that D2:',x])
        print(result_D1)
        differential_accounts.append(result_D1[1][0])
        
for x in positionsD2:
    if x not in positionsD1:
        result_D2 = (['D2 different than D1:',x])
        print(result_D2)
        differential_accounts.append(result_D2[1][0])

['D1 different that D2:', [22, 'A', 1]]
['D1 different that D2:', [33, 'A', 1]]
['D2 different than D1:', [22, 'A', 2]]
['D2 different than D1:', [33, 'A', 4]]

In [25]:
differential_accounts = set(differential_accounts)
for x in differential_accounts:
    print('ACCT# WITH CHANGES: %i') % x

ACCT# WITH CHANGES: 33
ACCT# WITH CHANGES: 22

----