# CODEPLAY: Breakpoint Tower

<b> Build a number splitter device that cycles through all number splits from 1 to 10, then cycles back to the beginning

In [362]:
tower_matrix = []

ranger = range(1,10)
for x in ranger:
    tower_matrix.append((x,10-x))
for y in ranger[:8][::-1]:
    tower_matrix.append((y,10-y))

tower_matrix

[(1, 9),
 (2, 8),
 (3, 7),
 (4, 6),
 (5, 5),
 (6, 4),
 (7, 3),
 (8, 2),
 (9, 1),
 (8, 2),
 (7, 3),
 (6, 4),
 (5, 5),
 (4, 6),
 (3, 7),
 (2, 8),
 (1, 9)]

#### Now, lets create the breakpoint tower with x and y symbols:

In [524]:
breakpoint_tower = []

for x in tower_matrix:
    breakpoint_tower.append([x[0]*"x"+x[1]*"y"])

breakpoint_tower

[['xyyyyyyyyy'],
 ['xxyyyyyyyy'],
 ['xxxyyyyyyy'],
 ['xxxxyyyyyy'],
 ['xxxxxyyyyy'],
 ['xxxxxxyyyy'],
 ['xxxxxxxyyy'],
 ['xxxxxxxxyy'],
 ['xxxxxxxxxy'],
 ['xxxxxxxxyy'],
 ['xxxxxxxyyy'],
 ['xxxxxxyyyy'],
 ['xxxxxyyyyy'],
 ['xxxxyyyyyy'],
 ['xxxyyyyyyy'],
 ['xxyyyyyyyy'],
 ['xyyyyyyyyy']]

---

#### Open this up like a sardine can and get to the meat inside:

In [535]:
for x in breakpoint_tower: print(x[0])

xyyyyyyyyy
xxyyyyyyyy
xxxyyyyyyy
xxxxyyyyyy
xxxxxyyyyy
xxxxxxyyyy
xxxxxxxyyy
xxxxxxxxyy
xxxxxxxxxy
xxxxxxxxyy
xxxxxxxyyy
xxxxxxyyyy
xxxxxyyyyy
xxxxyyyyyy
xxxyyyyyyy
xxyyyyyyyy
xyyyyyyyyy

---

#### Tower Parameters Codex:

In [526]:
breakpoint_tower[0][0]

'xyyyyyyyyy'

In [527]:
row_length = len(breakpoint_tower[0][0])
row_length

10

In [528]:
tower_length = len(breakpoint_tower)
tower_length

17

---

#### Lets rotate this thang onto its side:

In [530]:
turnt_tower = []

for column in range(row_length):
    turnt_row = []
    for row in range(tower_length):
        turnt_row.append(breakpoint_tower[row][0][column])
    turnt_tower.append(["".join([x for x in turnt_row])])

turnt_tower

[['xxxxxxxxxxxxxxxxx'],
 ['yxxxxxxxxxxxxxxxy'],
 ['yyxxxxxxxxxxxxxyy'],
 ['yyyxxxxxxxxxxxyyy'],
 ['yyyyxxxxxxxxxyyyy'],
 ['yyyyyxxxxxxxyyyyy'],
 ['yyyyyyxxxxxyyyyyy'],
 ['yyyyyyyxxxyyyyyyy'],
 ['yyyyyyyyxyyyyyyyy'],
 ['yyyyyyyyyyyyyyyyy']]

#### Open up ze sardine can:

In [534]:
for x in turnt_tower: print(x[0])

xxxxxxxxxxxxxxxxx
yxxxxxxxxxxxxxxxy
yyxxxxxxxxxxxxxyy
yyyxxxxxxxxxxxyyy
yyyyxxxxxxxxxyyyy
yyyyyxxxxxxxyyyyy
yyyyyyxxxxxyyyyyy
yyyyyyyxxxyyyyyyy
yyyyyyyyxyyyyyyyy
yyyyyyyyyyyyyyyyy

----

#### Here are the two compared, so the fall and squish can be seen:

In [536]:
for x in breakpoint_tower: print(x[0])

xyyyyyyyyy
xxyyyyyyyy
xxxyyyyyyy
xxxxyyyyyy
xxxxxyyyyy
xxxxxxyyyy
xxxxxxxyyy
xxxxxxxxyy
xxxxxxxxxy
xxxxxxxxyy
xxxxxxxyyy
xxxxxxyyyy
xxxxxyyyyy
xxxxyyyyyy
xxxyyyyyyy
xxyyyyyyyy
xyyyyyyyyy

In [537]:
for x in turnt_tower: print(x[0])

xxxxxxxxxxxxxxxxx
yxxxxxxxxxxxxxxxy
yyxxxxxxxxxxxxxyy
yyyxxxxxxxxxxxyyy
yyyyxxxxxxxxxyyyy
yyyyyxxxxxxxyyyyy
yyyyyyxxxxxyyyyyy
yyyyyyyxxxyyyyyyy
yyyyyyyyxyyyyyyyy
yyyyyyyyyyyyyyyyy

---

## CODE PLAY: Generate a variable length multiplication table via a function

In [539]:
def periodize(length):
    
    periodic_list = []
    
    range_of_matrix = range(1,length+1)
    
    for x in range_of_matrix:
        periodic_list.append([ (x*y) for y in range_of_matrix] )
    periodic_table.append(periodic_list)
    
    matrix = pd.DataFrame(periodic_list,columns=range_of_matrix)
    matrix.index = range(1,length+1)

    return matrix
    
ze_matrix = periodize(12)
ze_matrix

    1   2   3   4   5   6   7   8    9    10   11   12
1    1   2   3   4   5   6   7   8    9   10   11   12
2    2   4   6   8  10  12  14  16   18   20   22   24
3    3   6   9  12  15  18  21  24   27   30   33   36
4    4   8  12  16  20  24  28  32   36   40   44   48
5    5  10  15  20  25  30  35  40   45   50   55   60
6    6  12  18  24  30  36  42  48   54   60   66   72
7    7  14  21  28  35  42  49  56   63   70   77   84
8    8  16  24  32  40  48  56  64   72   80   88   96
9    9  18  27  36  45  54  63  72   81   90   99  108
10  10  20  30  40  50  60  70  80   90  100  110  120
11  11  22  33  44  55  66  77  88   99  110  121  132
12  12  24  36  48  60  72  84  96  108  120  132  144

---

# CODE PLAY: Prime Number Generator

>A prime number is a number greater than 1 that's only divisible by itself

In [543]:
from __future__ import division

In [629]:
primes = []

for x in range(2,101):
    counter = 0
    for y in range(2,x+1):
        if x % y == 0:
            counter += 1
    if counter < 2:
        primes.append(x)

"".join(str(primes))

#BOOYAAAH!

'[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]'


---

---

---

---

---

---

---

---

---

---

In [550]:
primes = []

for x in range(2,101):
    up_to_range = range(2,x)
    prime_counter = 0
    for y in up_to_range:
        if x % y == 0:
            prime_counter += 1
    if prime_counter > 0:
        primes.append(x)

primes

[4,
 6,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99,
 100]