#### CHALLENGE: The csv file called gpa.txt is a sequential string of values separated by spaces. In it's raw form it looks like this:

0 0 3.177277 594.102992 1 0 3.412655 631.528607 2 0 2.728097 553.714399 3 0 3.093559 551.089985 4 0 3.141923 537.184894 5 0 3.599108 442.763567 6 0 3.238972 667.472189 7 0 3.420177 561.713905 8 0 3.562482 590.340371 9 0 3.910495 463.470183 10 0 3.264341 636.453166 11 0 3.308623 604.405558 12 0 3.018922 567.714830 13 0 3.151834 503.307298 14 0 3.298133 628.178205 15 0 2.652201 644.300261 16 0 3.115603 533.479810 17 0 3.105242 562.939715 18 0 3.212380 545.878970 19 0 3.010654 537.029102 20 0 3.520870 534.127500 21 0 2.907485 532.514699 2

#### The data set has an index followed by three columns: admit, gpa and gre.

### Clean up the data set and save it in an easily readble format for further analysis.

---

In [40]:
import pandas as pd

In [41]:
raw_data = open('gpa.txt').readlines()[0]
raw_data[:300]

'0 0 3.177277 594.102992 1 0 3.412655 631.528607 2 0 2.728097 553.714399 3 0 3.093559 551.089985 4 0 3.141923 537.184894 5 0 3.599108 442.763567 6 0 3.238972 667.472189 7 0 3.420177 561.713905 8 0 3.562482 590.340371 9 0 3.910495 463.470183 10 0 3.264341 636.453166 11 0 3.308623 604.405558 12 0 3.018'

In [42]:
raw_data = open('gpa.txt').readlines()[0].split()

In [49]:
raw_data[:10]

['0',
 '0',
 '3.177277',
 '594.102992',
 '1',
 '0',
 '3.412655',
 '631.528607',
 '2',
 '0']

In [44]:
column1 = []
column2 = []
column3 = []
column4 = []

counter = 1

for x in raw_data:
    if counter == 1:
        column1.append(float(x))
    elif counter == 2:
        column2.append(int(x))
    elif counter == 3:
        column3.append(float(x))
    elif counter == 4:
        column4.append(float(x))
    
    counter += 1
    
    if counter > 4:
        counter = 1

In [45]:
admissions = pd.DataFrame()

admissions['index'] = column1
admissions['admit'] = column2
admissions['gpa'] = column3
admissions['gre'] = column4

In [46]:
admissions = admissions.drop('index',axis=1).copy()

In [50]:
pd.options.display.max_rows = 999

In [52]:
admissions[0:10]

   admit       gpa         gre
0      0  3.177277  594.102992
1      0  3.412655  631.528607
2      0  2.728097  553.714399
3      0  3.093559  551.089985
4      0  3.141923  537.184894
5      0  3.599108  442.763567
6      0  3.238972  667.472189
7      0  3.420177  561.713905
8      0  3.562482  590.340371
9      0  3.910495  463.470183

In [53]:
len(admissions)

601

In [48]:
admissions.to_csv('admissions.csv')


---