In [1]:
import pandas as pd
import numpy as np

In [7]:
DataFrame1 = pd.DataFrame({'A':[x for x in range(1,11)]})

    A
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [17]:
DataFrame1['B'] = [x for x in range(11,21)]
DataFrame1['C'] = [x for x in range(21,31)]

    A   B   C
0   1  11  21
1   2  12  22
2   3  13  23
3   4  14  24
4   5  15  25
5   6  16  26
6   7  17  27
7   8  18  28
8   9  19  29
9  10  20  30

---

---

In [89]:
print( data['A'][[0]] * 1 )
print( data['A'][[1]] * 2 )
print( data['A'][[2]] * 3 )
print( data['A'][[3]] * 4 )

0    1
Name: A, dtype: int64
1    4
Name: A, dtype: int64
2    9
Name: A, dtype: int64
3    16
Name: A, dtype: int64

In [90]:
for x in range(len(data['A'])):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [91]:
data = pd.DataFrame({'A':[x for x in range(1,11)]})

counter0 = 0
counter1 = 1

for x in range(len(data['A'])):
    objective = data['A'][[counter0]] * counter1
    counter0 += 1
    counter1 += 1
    print(objective)

0    1
Name: A, dtype: int64
1    4
Name: A, dtype: int64
2    9
Name: A, dtype: int64
3    16
Name: A, dtype: int64
4    25
Name: A, dtype: int64
5    36
Name: A, dtype: int64
6    49
Name: A, dtype: int64
7    64
Name: A, dtype: int64
8    81
Name: A, dtype: int64
9    100
Name: A, dtype: int64

In [ ]:
data = pd.DataFrame({'A':[x for x in range(1,11)]})

counter0 = 0
counter1 = 1

for x in range(len(data['A'])):
    objective = data['A'][[counter0]] * counter1
    counter0 += 1
    counter1 += 1
    print(objective)