In [69]:
import datetime
import time
import random
import radar
from __future__ import division

In [7]:
def time_gen():
    
    time_list = []
    
    random.seed = 0
    random_counter = random.choice(range(1,5))

    
    for x in range(10):
        time_list.append(time.time())
        time.sleep(random_counter)
        random.seed += 1    
    
    return time_list


time_stamps = time_gen()
time_stamps

[1468191234.347488,
 1468191236.349352,
 1468191238.354073,
 1468191240.35653,
 1468191242.35993,
 1468191244.362091,
 1468191246.367038,
 1468191248.370188,
 1468191250.373841,
 1468191252.376151]

In [16]:
stamped_time = [datetime.datetime.fromtimestamp(x) for x in time_stamps]
stamped_time

[datetime.datetime(2016, 7, 10, 18, 53, 54, 347488),
 datetime.datetime(2016, 7, 10, 18, 53, 56, 349352),
 datetime.datetime(2016, 7, 10, 18, 53, 58, 354073),
 datetime.datetime(2016, 7, 10, 18, 54, 0, 356530),
 datetime.datetime(2016, 7, 10, 18, 54, 2, 359930),
 datetime.datetime(2016, 7, 10, 18, 54, 4, 362091),
 datetime.datetime(2016, 7, 10, 18, 54, 6, 367038),
 datetime.datetime(2016, 7, 10, 18, 54, 8, 370188),
 datetime.datetime(2016, 7, 10, 18, 54, 10, 373841),
 datetime.datetime(2016, 7, 10, 18, 54, 12, 376151)]

---

### CONVERTING TIME-DELTAS

In [31]:
first_delta = stamped_time[1]-stamped_time[0]
print(first_delta).seconds
print(first_delta.total_seconds())

2
2.001864

---

In [50]:
#CONVERT THE FOLLOWING TIME STRINGS INTO DATETIME OBJECTS
timestring1 = "Monday, July 7 2016"
timestring2 = "Mon, Jul 07, 16"
timestring3 = "3:45 pm"
timestring4 = "23:55:49"
timestring5 = "05/04/2016"
timestring6 = "5/4/16"

In [59]:
datetime.datetime.strptime(timestring1,"%A, %B %d %Y")

datetime.datetime(2016, 7, 7, 0, 0)

In [61]:
datetime.datetime.strptime(timestring2,"%a, %b %d, %y")

datetime.datetime(2016, 7, 7, 0, 0)

In [62]:
datetime.datetime.strptime(timestring3,"%I:%M %p")

datetime.datetime(1900, 1, 1, 15, 45)

In [67]:
datetime.datetime.strptime(timestring4,"%H:%M:%S")

datetime.datetime(1900, 1, 1, 23, 55, 49)

In [58]:
datetime.datetime.strptime(timestring5,"%m/%d/%Y")

datetime.datetime(2016, 5, 4, 0, 0)

In [56]:
datetime.datetime.strptime(timestring6,"%m/%d/%y")

datetime.datetime(2016, 5, 4, 0, 0)

In [ ]:
#ANSWERS:

timestring1 = "Monday, July 7 2016"
              "%A,     %B   %d %Y"

timestring2 = "Mon, Jul 07, 16"
              "%a,  %b  %d, %y"

timestring3 = "3:45 pm"
              "%I:%M %p"

timestring4 = "23:55:49"
              "%H:%M:%S"

timestring5 = "05/04/2016"
              "%m/%d/%Y"

timestring6 = "5/4/16"
              "%m/%d/%y"

---

In [78]:
import radar
radar.random_datetime(start = "2015:01:01T01:00:00",
                      stop = "2015:12:31T23:59:59")

datetime.datetime(2016, 7, 10, 23, 54, 33)

---